<div class="container">
    <h2 class="center">Login Page</h2>
    <form class="center pt-3" #login="ngForm" (submit)="onSubmit(login)">
         <div>
            <label for="username" class="label">UserName</label>
            <input required type="text" name="username" id="username" ngModel> 
            <div class="error" *ngIf="login.controls['username']?.errors?.required && login.controls['username']?.touched">
               Name is required.
            </div>  
         </div>
         <div class="mt-2">
            <label for="password" class="label">Password</label>
            <input required type="text" name="password" id="password" ngModel>
            <div class="error" *ngIf="login.controls['password']?.errors?.required && login.controls['password']?.touched">
               Password is required.
            </div> 
         </div>
         <button type="submit" [disabled]="!login.valid" class="btn btn-primary mt-3">Login</button>
    </form>
</div>